.navbar {
    background-color: #373A3C;
}

.navbar-brand {
    font-family: 'Lobster';
    font-size: 37pt;
}

header img {
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    top: 200px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray !important
}

h2 {
    font-family: 'Cabin';
}

hr {
    height: 1pt !important;
    background-color: #000000;
}

#ingredientes-pizza h5 {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: solid 2px #000000;
}

#newsletter {
    height: 28rem;
}

#newsletter h1 {
    font-family: 'Cabin';
    font-size: 40pt;
}

#newsletter h3 {
    font-size: 30pt;
}

#newsletter h3 label {
    font-family: 'Lobster'
}

button {
    border: solid 1pt #DDDDDD !important;
}

footer {
    font-family: 'Lobster';
    font-size: 37pt;
    padding-top: 38pt;
    padding-bottom: 38pt;
}

@media (max-width: 576px)
{
    #ingredientes-pizza h5 {
        border-bottom: none;
    }

    #newsletter h1 {
        font-size: 30pt;
    }
    
    #newsletter h3 {
        font-size: 20pt;
    }

}